In [1]:
import numpy as np
import pandas as pd
import requests
import io
import matplotlib.pyplot as plt

In [2]:
bmi_df = pd.read_csv("Resources/BMI.csv")
diabetes_df = pd.read_csv("Resources/diabetes.csv")
gym_df = pd.read_csv("Resources/gym_data.csv")
food_df = pd.read_csv("Resources/fast_food_restaurants.csv")

In [3]:
#print df and size
bmi_df

      Gender State  State_Rate  Height  Weight        BMI  Age      Rate
0       Male    MA    0.100434     184    67.8  20.025992   77  0.332000
1       Male    VA    0.141723     163    89.4  33.648237   82  0.869148
2       Male    NY    0.090803     170    81.2  28.096886   31  0.010000
3       Male    TN    0.119973     175    99.7  32.555102   39  0.021532
4       Male    FL    0.110345     184    72.1  21.296078   68  0.149750
...      ...   ...         ...     ...     ...        ...  ...       ...
1937  Female    FL    0.110345     166    65.6  23.806068   45  0.023000
1938  Female    WI    0.178148     157    84.8  34.403018   58  0.094500
1939  Female    NV    0.223738     167    86.3  30.944100   50  0.040500
1940  Female    AR    0.148166     161   103.8  40.044751   76  0.691118
1941  Female    PA    0.128560     160    90.2  35.234375   79  0.425622

[1942 rows x 8 columns]

In [4]:
#Check data types
bmi_df.dtypes

Gender         object
State          object
State_Rate    float64
Height          int64
Weight        float64
BMI           float64
Age             int64
Rate          float64
dtype: object

In [5]:
#check for null values
bmi_df.isnull().values.any()

False

In [6]:
#print df and size
diabetes_df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [7]:
#Check data types
diabetes_df.dtypes

Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

In [8]:
#check for null values
diabetes_df.isnull().values.any()

False

In [9]:
#print df and size
gym_df

,State,Most Gyms in State,Total,Population (2016),People Per Gym,"Gyms per Capita (100,000)"
0,Alabama,CrossFit,268,"4,863,300","18,146.64",5.51
1,Alaska,CrossFit,46,"741,894","16,128.13",6.20
2,Arizona,CrossFit,330,"6,931,071","21,003.25",4.76
3,Arkansas,CrossFit,134,"2,988,248","22,300.36",4.48
4,California,CrossFit,"1,775","39,250,017","22,112.69",4.52
5,Colorado,CrossFit,394,"5,540,545","14,062.30",7.11
6,Connecticut,CrossFit,272,"3,576,452","13,148.72",7.61
7,Delaware,CrossFit,60,"952,065","15,867.75",6.30
8,District of Columbia,CrossFit,34,"681,170","20,034.41",4.99
9,Florida,CrossFit,"1,009","20,612,439","20,428.58",4.90
10,Georgia,CrossFit,587,"10,310,371","17,564.52",5.69
11,Hawaii,CrossFit,81,"1,428,557","17,636.51",5.67
12,Idaho,CrossFit,102,"1,683,140","16,501.37",6.06
13,Illinois,CrossFit,674,"12,801,539","18,993.38",5.26
14,Indiana,Anytime Fitness,403,"6,633,053","16,459.19",6.08
15,Iowa,Anytime Fitness,232,"3,134,693","13,511.61",7.40
16,Kansas,Anytime Fitness,164,"2,907,289","17,727.37",5.64
17,Kentucky,CrossFit,219,"4,436,974","20,260.16",4.94
18,Louisiana,Anytime Fitness,340,"4,681,666","13,769.61",7.26
19,Maine,CrossFit,78,"1,331,479","17,070.24",5.86
20,Maryland,CrossFit,270,"6,016,447","22,283.14",4.49
21,Massachusetts,CrossFit,412,"6,811,779","16,533.44",6.05
22,Michigan,CrossFit,516,"9,928,300","19,240.89",5.20
23,Minnesota,Snap Fitness,571,"5,519,952","9,667.17",10.34
24,Mississippi,CrossFit,136,"2,988,726","21,975.93",4.55
25,Missouri,CrossFit,329,"6,093,000","18,519.76",5.40
26,Montana,CrossFit,59,"1,042,520","17,669.83",5.66
27,Nebraska,YMCA,135,"1,907,116","14,126.79",7.08
28,Nevada,CrossFit,142,"2,940,058","20,704.63",4.83
29,New Hampshire,CrossFit,97,"1,334,795","13,760.77",7.27
30,New Jersey,CrossFit,405,"8,944,469","22,085.11",4.53
31,New Mexico,CrossFit,100,"2,081,015","20,810.15",4.81
32,New York,CrossFit,615,"19,745,289","32,106.16",3.11
33,North Carolina,CrossFit,451,"10,146,788","22,498.42",4.44
34,North Dakota,Anytime Fitness,52,"757,952","14,576.00",6.86
35,Ohio,CrossFit,598,"11,614,373","19,422.03",5.15
36,Oklahoma,CrossFit,179,"3,923,561","21,919.34",4.56
37,Oregon,CrossFit,226,"4,093,465","18,112.68",5.52
38,Pennsylvania,CrossFit,674,"12,784,227","18,967.70",5.27
39,Rhode Island,CrossFit and YMCA,76,"1,056,426","13,900.34",7.19
40,South Carolina,CrossFit,267,"4,961,119","18,580.97",5.38
41,South Dakota,Curves,60,"865,454","14,424.23",6.93
42,Tennessee,CrossFit,342,"6,651,194","19,447.94",5.14
43,Texas,CrossFit,"1,409","27,862,596","19,774.73",5.06
44,Utah,CrossFit,165,"3,051,217","18,492.22",5.41
45,Vermont,CrossFit,33,"624,594","18,927.09",5.28
46,Virginia,CrossFit,571,"8,411,808","14,731.71",6.79
47,Washington,CrossFit,467,"7,288,000","15,606.00",6.41
48,West Virginia,CrossFit,83,"1,831,102","22,061.47",4.53
49,Wisconsin,Anytime Fitness,431,"5,778,708","13,407.68",7.46
50,Wyoming,CrossFit,36,"585,501","16,263.92",6.15

In [10]:
#edit state column to show abbreviations
state_abbrev = {
'Alabama': 'AL', 'Alaska': 'AK', 'Arizona': 'AZ', 'Arkansas': 'AR', 'California': 'CA', 'Colorado': 'CO',
'Connecticut': 'CT', 'Delaware': 'DE', 'Florida': 'FL', 'Georgia': 'GA', 'Hawaii': 'HI', 'Idaho': 'ID',
'Illinois': 'IL', 'Indiana': 'IN', 'Iowa': 'IA', 'Kansas': 'KS', 'Kentucky': 'KY', 'Louisiana': 'LA',
'Maine': 'ME', 'Maryland': 'MD', 'Massachusetts': 'MA', 'Michigan': 'MI', 'Minnesota': 'MN', 'Mississippi': 'MS',
'Missouri': 'MO', 'Montana': 'MT', 'Nebraska': 'NE', 'Nevada': 'NV', 'New Hampshire': 'NH', 'New Jersey': 'NJ',
'New Mexico': 'NM', 'New York': 'NY', 'North Carolina': 'NC', 'North Dakota': 'ND', 'Ohio': 'OH', 'Oklahoma': 'OK',
'Oregon': 'OR', 'Pennsylvania': 'PA', 'Rhode Island': 'RI', 'South Carolina': 'SC', 'South Dakota': 'SD',
'Tennessee': 'TN', 'Texas': 'TX', 'Utah': 'UT', 'Vermont': 'VT', 'Virginia': 'VA', 'Washington': 'WA',
'West Virginia': 'WV', 'Wisconsin': 'WI', 'Wyoming': 'WY', 'District of Columbia' : 'DC'}

gym_df['State'] = gym_df['State'].map(state_abbrev).fillna(gym_df['State'])
gym_df.head()

,State,Most Gyms in State,Total,Population (2016),People Per Gym,"Gyms per Capita (100,000)"
0,AL,CrossFit,268,"4,863,300","18,146.64",5.51
1,AK,CrossFit,46,"741,894","16,128.13",6.20
2,AZ,CrossFit,330,"6,931,071","21,003.25",4.76
3,AR,CrossFit,134,"2,988,248","22,300.36",4.48
4,CA,CrossFit,"1,775","39,250,017","22,112.69",4.52

In [11]:
#Check data types
gym_df.dtypes

State                         object
Most Gyms in State            object
Total                         object
Population (2016)             object
People Per Gym                object
Gyms per Capita (100,000)    float64
dtype: object

In [12]:
#rename columns
gym_df.rename({'Most Gyms in State':'Common_Type',
               'Population (2016)':'Population_2016',
               'People Per Gym':'People_per_Gym',
               'Gyms per Capita (100,000)':'Gyms_per_Capita'
    }, axis='columns', inplace=True)
gym_df.head()

  State Common_Type  Total Population_2016 People_per_Gym  Gyms_per_Capita
0    AL    CrossFit    268       4,863,300      18,146.64             5.51
1    AK    CrossFit     46         741,894      16,128.13             6.20
2    AZ    CrossFit    330       6,931,071      21,003.25             4.76
3    AR    CrossFit    134       2,988,248      22,300.36             4.48
4    CA    CrossFit  1,775      39,250,017      22,112.69             4.52

In [13]:
#change data types
gym_df['Total']=gym_df['Total'].astype(str).str.replace(',','')
gym_df['Population_2016'] = gym_df['Population_2016'].astype(str).str.replace(',','')
gym_df['People_per_Gym']=gym_df['People_per_Gym'].astype(str).str.replace(',','')
gym_df.head()

  State Common_Type Total Population_2016 People_per_Gym  Gyms_per_Capita
0    AL    CrossFit   268         4863300       18146.64             5.51
1    AK    CrossFit    46          741894       16128.13             6.20
2    AZ    CrossFit   330         6931071       21003.25             4.76
3    AR    CrossFit   134         2988248       22300.36             4.48
4    CA    CrossFit  1775        39250017       22112.69             4.52

In [14]:
gym_df['Total']=gym_df['Total'].astype('int32')
gym_df['Population_2016']=gym_df['Population_2016'].astype('int32')
gym_df['People_per_Gym']=gym_df['People_per_Gym'].astype('float64')

In [15]:
gym_df.dtypes

State               object
Common_Type         object
Total                int32
Population_2016      int32
People_per_Gym     float64
Gyms_per_Capita    float64
dtype: object

In [16]:
#print df and size
food_df

,id,dateAdded,dateUpdated,address,categories,primaryCategories,city,country,keys,latitude,longitude,name,postalCode,province,sourceURLs,websites
0,AWrSh_KgsVYjT2BJAzaH,2019-05-19T23:58:05Z,2019-05-19T23:58:05Z,2555 11th Avenue,"Fast Food Restaurants,Hamburgers and Hot Dogs,...",Accommodation & Food Services,Greeley,US,us/co/greeley/255511thavenue/554191587,40.396290,-104.696990,Carl's Jr.,80631,CO,https://www.yellowpages.com/greeley-co/mip/car...,https://www.carlsjr.com/?utm_source=Yextandutm...
1,AWEKlA-LIxWefVJwxG9B,2018-01-18T18:30:23Z,2019-05-19T23:45:05Z,2513 Highway 6 And 50,"Restaurant,Mexican Restaurants,Fast Food Resta...",Accommodation & Food Services,Grand Junction,US,us/co/grandjunction/2513highway6and50/1550891556,39.081350,-108.586890,Del Taco,81505,CO,http://www.citysearch.com/profile/772076870/gr...,http://www.deltaco.com
2,AWrSfAcYsVYjT2BJAzPt,2019-05-19T23:45:04Z,2019-05-19T23:45:04Z,1125 Patterson Road,"Sandwich Shops,Fast Food Restaurants,Restauran...",Accommodation & Food Services,Grand Junction,US,us/co/grandjunction/1125pattersonroad/-2137447852,39.091480,-108.554110,Which Wich,81506,CO,https://www.yellowpages.com/grand-junction-co/...,http://www.whichwich.com
3,AWrSa3NAQTFama1Xpkbz,2019-05-19T23:26:58Z,2019-05-19T23:26:58Z,3455 N Salida Court,"Fast Food Restaurants,Mexican Restaurants,Rest...",Accommodation & Food Services,Aurora,US,us/co/aurora/3455nsalidacourt/1143321601,39.763690,-104.776710,Chipotle Mexican Grill,80011,CO,https://www.yellowpages.com/aurora-co/mip/chip...,http://www.chipotle.com
4,AWrSaVGzZ4Yw-wtdgcaB,2019-05-19T23:24:38Z,2019-05-19T23:24:38Z,5225 E Colfax Avenue,"Fast Food Restaurants,Mexican Restaurants,Rest...",Accommodation & Food Services,Denver,US,us/co/denver/5225ecolfaxavenue/-864103396,39.740440,-104.926360,Taco Bell,80220,CO,https://www.yellowpages.com/denver-co/mip/taco...,https://locations.tacobell.com/co/denver/5225-...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,AVwd7U0T_7pvs4fz-fS_,2016-05-31T13:33:45Z,2018-12-03T09:04:19Z,1803 Carolina Ave,"American Restaurants,Caterers,Soul Food Restau...",Accommodation & Food Services,Bessemer,US,us/al/bessemer/1803carolinaave/785498836,33.399574,-86.951050,Church's Chicken Of Birmingham,35020,AL,http://www.yellowpages.com/bessemer-al/mip/chu...,http://www.churchs.com
9996,AV1XW1fF3D1zeR_xFKHL,2017-07-18T20:19:50Z,2018-12-02T00:08:36Z,8511 Cantilever Way Ste 105,"Mexican Restaurants,Caterers,Delicatessens,Iri...",Accommodation & Food Services,Raleigh,US,us/nc/raleigh/8511cantileverwayste105/-1596320866,35.884500,-78.737541,Luxury Box,27613-6996,NC,https://www.bbb.org/us/nc/raleigh/profile/spor...,"http://www.theluxuryboxofraleigh.com,http://th..."
9997,AV5UVbkiRxPSIh2RiQxV,2017-09-05T23:05:50Z,2018-12-01T07:38:03Z,2601 Plover Rd,"Carry-out food,Hot dog restaurants,Fast Food R...",Accommodation & Food Services,Plover,US,us/wi/plover/2601ploverrd/-1161002137,44.453180,-89.543170,McDonald's,54467,WI,https://www.yellowpages.com/plover-wi/mip/mcdo...,"http://mcdonalds.com,http://www.mcdonalds.com/..."
9998,AVwc9BxYByjofQCxj_GW,2016-03-31T02:43:12Z,2018-12-01T07:35:22Z,170 E Main St,"Carry-out food,Caterers,Restaurant delivery se...",Accommodation & Food Services,Hendersonville,US,us/tn/hendersonville/170emainst/-66712705,36.308262,-86.607339,Pizza Hut,37075,TN,https://foursquare.com/v/pizza-hut/4c5fffd43a3...,http://www.pizzahut.com
9999,AVzA_GF53D1zeR_xBDVW,2017-06-19T15:33:04Z,2018-12-01T00:03:40Z,3400 Westgate Drive,"Fast Food Restaurant,Restaurants",Accommodation & Food Services,Durham,US,us/nc/durham/3400westgatedrive/-2061630068,35.965869,-78.963366,Burger King,27707-2696,NC,https://foursquare.com/v/burger-king/4c4b28765...,http://www.bk.com

In [17]:
#check for null values
food_df.isnull().values.any()

True

In [18]:
#drop null rows
food_df=food_df.dropna(how='any', axis=0)
food_df.isnull().values.any()

False

In [19]:
food_df.columns

Index(['id', 'dateAdded', 'dateUpdated', 'address', 'categories',
       'primaryCategories', 'city', 'country', 'keys', 'latitude', 'longitude',
       'name', 'postalCode', 'province', 'sourceURLs', 'websites'],
      dtype='object')

In [23]:
#drop rows
clean_food_df = food_df.drop(['id','dateAdded','dateUpdated','address','categories','primaryCategories','keys','sourceURLs','websites'],axis=1)

In [25]:
#Check data types
clean_food_df.dtypes

city           object
country        object
latitude      float64
longitude     float64
name           object
postalCode     object
province       object
dtype: object

In [26]:
#export csvs
gym_df.to_csv(r'C:\Users\Kelli\OneDrive\Desktop\Boot_Camp\Analysis_Projects\Module_20\Final_Project\Resources\clean_gym_data.csv', index = False)
clean_food_df.to_csv(r'C:\Users\Kelli\OneDrive\Desktop\Boot_Camp\Analysis_Projects\Module_20\Final_Project\Resources\clean_restaurant_data.csv', index = False)
bmi_df.to_csv(r'C:\Users\Kelli\OneDrive\Desktop\Boot_Camp\Analysis_Projects\Module_20\Final_Project\Resources\clean_bmi_data.csv', index = False)
diabetes_df.to_csv(r'C:\Users\Kelli\OneDrive\Desktop\Boot_Camp\Analysis_Projects\Module_20\Final_Project\Resources\clean_diabetes_data.csv', index = False)