In [3]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
#from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
#from sklearn.preprocessing import OneHotEncoder
import pandas as pd
import numpy as np
#import tensorflow as tf

In [11]:
tableau_df = pd.read_csv('combo_df.csv')
tableau_df.head()

,State,province,Most Gyms in State,Total,Population (2016),People Per Gym,"Gyms per Capita (100,000)",num_restaurants,Restaurants per Capita 100k,STATE,RANK,Percent of population with diabetes,diabetes_pop,diabetes per capita 100k,Prevalence,95% CI,obesity_pop,obesity per capita 100k
0,Alabama,AL,CrossFit,268.0,4863300,18146.64,6,236,4.852672,Alabama,48.0,14.0,680862.000,14000.0,36.1,"(34.6, 37.7)",1.755651e+06,36100.0
1,Alaska,AK,CrossFit,46.0,741894,16128.13,6,14,1.887062,Alaska,2.0,7.3,54158.262,7300.0,30.5,"(27.8, 33.4)",2.262777e+05,30500.0
2,Arizona,AZ,CrossFit,330.0,6931071,21003.25,5,208,3.000979,Arizona,28.0,10.9,755486.739,10900.0,31.4,"(29.7, 33.2)",2.176356e+06,31400.0
3,Arkansas,AR,CrossFit,134.0,2988248,22300.36,4,151,5.053128,Arkansas,46.0,13.6,406401.728,13600.0,37.4,"(35.5, 39.4)",1.117605e+06,37400.0
4,California,CA,CrossFit,NaN,39250017,22112.69,5,676,1.722292,California,15.0,10.1,3964251.717,10100.0,26.2,"(25.1, 27.2)",1.028350e+07,26200.0

In [12]:
tableau_df.describe()

,Total,Population (2016),People Per Gym,"Gyms per Capita (100,000)",num_restaurants,Restaurants per Capita 100k,RANK,Percent of population with diabetes,diabetes_pop,diabetes per capita 100k,Prevalence,obesity_pop,obesity per capita 100k
count,48.000000,5.100000e+01,51.000000,51.000000,51.000000,51.000000,50.00000,50.000000,5.000000e+01,50.000000,50.000000,5.000000e+01,50.000000
mean,269.083333,6.335834e+06,18104.412353,5.725490,195.980392,3.984296,25.22000,10.818000,7.121440e+05,10818.000000,31.550000,1.967186e+06,31550.000000
std,196.685496,7.243849e+06,3650.030288,1.167535,154.768406,1.974435,14.59003,1.968807,8.005727e+05,1968.806745,5.940049,2.124779e+06,5940.049131
min,33.000000,5.855010e+05,9667.170000,3.000000,14.000000,1.362350,1.00000,7.000000,4.566908e+04,7000.000000,0.000000,0.000000e+00,0.000000
25%,93.500000,1.757121e+06,15736.875000,5.000000,92.500000,2.682704,13.25000,9.450000,2.069187e+05,9450.000000,29.275000,5.349764e+05,29275.000000
50%,229.000000,4.436974e+06,18146.640000,6.000000,158.000000,3.361115,25.00000,10.800000,4.822151e+05,10800.000000,32.100000,1.381260e+06,32100.000000
75%,406.750000,7.109536e+06,20344.370000,6.000000,260.000000,5.070605,37.50000,12.150000,8.932899e+05,12150.000000,34.800000,2.300190e+06,34800.000000
max,674.000000,3.925002e+07,32106.160000,10.000000,676.000000,12.132361,50.00000,15.700000,3.964252e+06,15700.000000,40.800000,1.028350e+07,40800.000000

In [15]:
gymscapitabins = [0, 3, 5, 6, 10]
labels = [1,2,3,4]
tableau_df['gyms_per_capita_bin'] = pd.cut(tableau_df['Gyms per Capita (100,000)'], gymscapitabins, labels=labels)

restaurantpercapitabins = [0, 2.7, 3.4, 5.1, 13]
tableau_df['restaurants_per_capita_bin'] = pd.cut(tableau_df['Restaurants per Capita 100k'], restaurantpercapitabins, labels=labels)

obesitypercapitabins = [0, 29300, 32100, 34800, 40800]
tableau_df['obesity_per_capita_bin'] = pd.cut(tableau_df['obesity per capita 100k'], obesitypercapitabins, labels=labels)


tableau_df.head()

,State,province,Most Gyms in State,Total,Population (2016),People Per Gym,"Gyms per Capita (100,000)",num_restaurants,Restaurants per Capita 100k,STATE,...,Percent of population with diabetes,diabetes_pop,diabetes per capita 100k,Prevalence,95% CI,obesity_pop,obesity per capita 100k,gyms_per_capita_bin,restaurants_per_capita_bin,obesity_per_capita_bin
0,Alabama,AL,CrossFit,268.0,4863300,18146.64,6,236,4.852672,Alabama,...,14.0,680862.000,14000.0,36.1,"(34.6, 37.7)",1.755651e+06,36100.0,3,3,4
1,Alaska,AK,CrossFit,46.0,741894,16128.13,6,14,1.887062,Alaska,...,7.3,54158.262,7300.0,30.5,"(27.8, 33.4)",2.262777e+05,30500.0,3,1,2
2,Arizona,AZ,CrossFit,330.0,6931071,21003.25,5,208,3.000979,Arizona,...,10.9,755486.739,10900.0,31.4,"(29.7, 33.2)",2.176356e+06,31400.0,2,2,2
3,Arkansas,AR,CrossFit,134.0,2988248,22300.36,4,151,5.053128,Arkansas,...,13.6,406401.728,13600.0,37.4,"(35.5, 39.4)",1.117605e+06,37400.0,2,3,4
4,California,CA,CrossFit,NaN,39250017,22112.69,5,676,1.722292,California,...,10.1,3964251.717,10100.0,26.2,"(25.1, 27.2)",1.028350e+07,26200.0,2,1,1

In [16]:
tableau_df.to_csv('tableau_df.csv', index = False)